@inherits LayoutComponentBase

<div class="page">
    <MudThemeProvider  DefaultScrollbar="true" Theme=@ThemeProvider.DefaultTheme/>
    <MudDialogProvider/>
    <MudSnackbarProvider />

    <div class="main">
        <TopBar/>
        <div class="mainContent" >
        @Body
        </div>
    </div>
</div>

<style>
    .mainContent{
padding: 60px 12px 0px 12px;
    }
</style>
